[Unit]
Description=NVIDIA DCGM Exporter
After=network-online.target nvidia-persistenced.service

[Service]
User=dcgm_exporter
Group=dcgm_exporter
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/dcgm-exporter $ARGS

[Install]
WantedBy=multi-user.target
