apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: https://prometheus:9090
    basicAuth: true
    basicAuthUser: "{{ prometheus_basic_auth_username }}"
    secureJsonData:
      basicAuthPassword: "{{ prometheus_basic_auth_password }}"
    jsonData:
      tlsAuth: false
      tlsSkipVerify: true
      timeInterval: "15s"
    isDefault: true
    version: 1
    editable: false