global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_evaluation_interval }}

scrape_configs:
  - job_name: 'prometheus'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    basic_auth:
      username: "{{ prometheus_basic_auth_username }}"
      password: "{{ prometheus_basic_auth_password }}"
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']

  - job_name: 'node_exporter'
    static_configs:
      - targets:
{% for host in groups['nodes'] %}
        - '{{ hostvars[host].ansible_host }}:{% if hostvars[host].node_exporter_port is defined %}{{ hostvars[host].node_exporter_port }}{% else %}9100{% endif %}'
{% endfor %}
    relabel_configs:
      - source_labels: [instance]
        regex: "([^:]+):.+"
        target_label: "instance"
        replacement: "$1"
    metric_relabel_configs:
      - source_labels: [instance]
        regex: "([^:]+):.+"
        target_label: "instance"
        replacement: "$1"

  - job_name: 'dcgm_exporter'
    static_configs:
      - targets:
{% for host in groups['nodes'] %}
        - '{{ hostvars[host].ansible_host }}:{% if hostvars[host].dcgm_exporter_port is defined %}{{ hostvars[host].dcgm_exporter_port }}{% else %}9400{% endif %}'
{% endfor %}
    relabel_configs:
      - source_labels: [instance]
        regex: "([^:]+):.+"
        target_label: "instance"
        replacement: "$1"
    metric_relabel_configs:
      - action: labeldrop
        regex: Hostname
      - source_labels: [instance]
        regex: "([^:]+):.+"
        target_label: "instance"
        replacement: "$1"

{% if nut_exporter_enabled %}
  - job_name: 'nut_exporter'
    static_configs:
{% for host in groups['ups'] %}
      - targets: ['{{ hostvars[host].ansible_host }}']
        labels:
          ups: '{{ hostvars[host].inventory_hostname }}'
          ups_real_name: '{{ hostvars[host].ups_real_name | default(hostvars[host].inventory_hostname) }}'
{% endfor %}
    metrics_path: /ups_metrics
    relabel_configs:
      - source_labels: [ups_real_name]
        target_label: __param_ups
      - source_labels: [__address__]
        target_label: __param_server
      - source_labels: [__param_server]
        target_label: instance
      - target_label: __address__
        replacement: nut-exporter:9199
{% endif %}


alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"
